
<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">

    <!--Section heading-->
    <h4 class="h1 font-weight-bold text-center mb-2 pt-4" style="font-family: Courier New;">Our Mandate</h4>
    <!--Section description-->
    <p class="text-center mb-5 pb-3" style="font-family: Courier New;">
Republic Act 6975 entitled An Act Establishing the Philippine National Police under a reorganized
Department of the Interior and Local Government and Other Purposes as amended by RA  8551
Philippine National Police Reform and Reorganization Act of 1998 and further amended by RA 9708..</p>
<hr>
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-xl-5 pb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-4" style="background-color: #e5e5e8;">
                <img src="assets/img/orvtia_logo.png" style="height: 500px; width: 810px;"class="img-fluid flex-center">
                <a>
                    <div class="mask rgba-black"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7">
            <!--Excerpt-->
            <a href="" class="green-text">
                <h5 class="font-weight-bold pb-1">
            </a>
            <h5 style="font-family: Courier New;" class="mb-4 font-weight-bold dark-grey-text">
                <strong>Our Mission</strong>
            </h5>
            <p style="font-family: Courier New;">
              The PNP shall enforce the law, prevent and control crimes, maintain peace and order,
              and ensure public safety and internal security with the active support of the community.
            </p>
            <h5 style="font-family: Courier New;" class="mb-2 font-weight-bold dark-grey-text">
                <strong>Our Core Values</strong>
            </h5>
            <p style="font-family: Courier New;" >Maka-Diyos (Pro-God)</p>
            <p style="font-family: Courier New;">Makabayan (Pro-Country)</p>
            <p style="font-family: Courier New;">Makatao (Pro-People)</p>
            <p style="font-family: Courier New;">Makakalikasan (Pro-Environment)</p>
            <h5 style="font-family: Courier New;" class="mb-4 font-weight-bold dark-grey-text">
                <strong>Our Vision</strong>
            </h5>
            <p style="font-family: Courier New;">
            Imploring the aid of the Almighty, by 2030, We shall be a highly capable,
            effective and credible police service working in partnership with a responsive
            community towards the attainment of a safer place to live, work and do business.</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
