<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRXGkNUJ7ibYPMtrqm3fEUilG9jh0vOhE"></script>
<style>
#map{
  height: 1035px;
  width: 700px;
  float: right;
  overflow:hidden;
  position: relative;
}
.containerForm{
  float: left;
  height: 1035px;
  padding-left: 29px;
  padding-right: 29px;
  width:450px;
  background-color: #F5F5F5;
  position: absolute;

}
.tdtd{
  font-family: Lato ;
}
.thth{
  font-family: Josefin Slab;
}
.decor{
  list-style: none;
}
</style>
<link rel="stylesheet" href="angularjs-datetime-picker.css" />
<script src="angularjs-datetime-picker.js"></script>

<div class="containerForm"><br>
<a href="/reportManagement" style="float: left; color: grey;" class="thth"><i class="fa fa-arrow-left" aria-hidden="true"  onclick="javascript:window.location.reload()"></i>  Back to Reports</a><br><hr>
     <form name ="addForm"  novalidate><br>
         <!--text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
         <div class="md-form form-sm">
           <input type=" text" class="form-control" title="Street" placeholder="Thoroughfare"  id="Thoroughfare" ng-model="formData.address_thoroughfare" style="padding-left: 10px;" required>
           <input type=" text" class="form-control" title="Municipality" id="Municipality" value="{{main.police_station}}" ng-model="formData.address_municipality" style="padding-left: 10px;" readonly>
           <input type=" text" class="form-control"title="Province"  id='Province' placeholder="Province"  ng-model="formData.address_province" style="padding-left: 10px;" readonly>
           <input type=" text" class="form-control" id='onDuty' placeholder="On Duty"  title="Police On Duty" ng-model="formData.onDuty" value="{{main.police_username}}" style="padding-left: 10px;" readonly>
           <div ng-controller="managementCtrl as management">
            <select id="Username" class="browser-default form-control tdtd" title="Police Informant" placeholder="Select Police Informant" ng-model="formData.police_username" required>
               <option value="" disabled selected>Select Police Informant</option>
              <option ng-repeat="person in management.police_users" value="{{person.police_username}}">{{person.police_username}}</option>
            </select>
          </div>

           <!--get element by id in addCtrl-->
            <center>
              <a href="#" id="btn" style="font-family: Courier New;"><i class="fa fa-hand-o-right" aria-hidden="true" ></i> Click to Get Lat-Long</a>
            </center>
         </div>
         <div class="md-form form-sm">
              <p style="color: grey; font-size: 12px;">Longitude:</p>
             <input type=" text" class="form-control" id="latitude"  ng-model="formData.latitude" style="padding-left: 10px;" readonly>
         </div>
         <div class="md-form form-sm">
               <p style="color: grey; font-size: 12px;">Latitude:</p>
             <input type=" text" class="form-control" id="longitude"  ng-model="formData.longitude" style="padding-left: 10px;" readonly>
         </div>
          <input list="accidentTypes" name="accidentType" title='Accident Type' placeholder="Accident Type" title='Accident Type' ng-model="formData.cause" style="padding-left: 20px;" class="form-control tdtd">
           <datalist id="accidentTypes">
             <option value="Head-On Collision">Head-On Collision</option>
             <option value="High Speeding Collision of Animals">High Speeding Collision of Animals</option>
             <option value="High Speeding Crashes with Pedestrians or Bicyclists">High Speeding Crashes with Pedestrians or Bicyclists</option>
             <option value="Rear-End Collisions">Rear-End Collisions</option>
             <option value="Roll Over">Roll Over</option>
             <option value="Side/Roadside Collision">Side/Roadside Collision</option>
             <option value="Stationary Collisions">Stationary Collisions</option>
           </datalist>
          <input list="browsers" name="browser" title='Accident Cause' placeholder="Accident Cause" ng-model="formData.type" style="padding-left: 20px;" class="form-control tdtd">
           <datalist id="browsers">
   					<option value="Animal Crossings">Animal Crossings</option>
   					<option value="Deadly Curves">Deadly Curves</option>
   					<option value="Defective Breaks">Defective Breaks</option>
   					<option value="Design Defects">Design Defects</option>
   					<option value="Distracted Driving">Distracted Driving</option>
   					<option value="Drunk Driving">Drunk Driving</option>
   					<option value="Driving Under Influence of Drugs">Driving Under Influence of Drugs</option>
   					<option value="Resign Defect">Resign Defect</option>
   					<option value="Rain">Rain</option>
   					<option value="Reckless Driving">Reckless Driving</option>
   					<option value="Road Rage">Road Rage</option>
   					<option value="Running Red Lights">Running Red Lights</option>
   					<option value="Running Stop Signs">Running Stop Signs</option>
   					<option value="Speeding">Speeding</option>
   					<option value="Street Racing">Street Racing</option>
   					<option value="Tailgating">Tailgating</option>
   					<option value="Tire Blowouts">Tire Blowouts</option>
   					<option value="Unsafe Lane Changes">Unsafe Lane Changes</option>
           </datalist>
           <div class="md-form">
              <p style="color: grey; font-size: 12px;">Date and Time Transpired:</p>
               <input datetime-picker hour="12" minute='59' class="form-control tdtd" title="Date and Time of Accident" placeholder="Click to Enter Date/Time of Accident" date-format="yyyy-MM-dd HH:mm:ss" ng-model="formData.committed_at" style="padding-left: 10px;" required>
           </div>
           <div class="md-form">
              <p style="color: grey; font-size: 12px;">Date and Time Reported:</p>
               <input datetime-picker class="form-control tdtd" title="Date and Time Reported" placeholder="Click to Enter Date/Time Reported" date-format="yyyy-MM-dd HH:mm:ss" ng-model="formData.police_reported_at" style="padding-left: 10px;" required>
           </div>
          <div>
          <button type="submit" class="btn btn-rounded btn-elegant btn-sm pc-2" ng-click="createReport()" ng-disabled="addForm.$invalid">Click to save</button>
          <a ng-show="add.clickView"  onclick="javascript:window.location.reload()" title='Add New Report' class="btn-floating btn-sm btn-grey"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></a>

          </form>
</div>
<hr>
  <h6 ng-show="add.clickView">Add More Details to Report:</h6>
  <a ng-show="add.clickView" href="#" data-toggle="modal" data-target="#modalPeople" style="font-family: Courier New"><i class="fa fa-plus-square" aria-hidden="true" ></i> Click to Add People Invovled</a><br>
  <a ng-show="add.clickView" href="#" data-toggle="modal" data-target="#modalVehicle" style="font-family: Courier New"><i class="fa fa-plus-square" aria-hidden="true" ></i> Click to Add Vehicle</a>
  <div class="modal fade" ng-controller="addCtrl as editForm" id="modalPeople" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog cascading-modal " role="document">
       <!--Content-->
          <div class="modal-content">
              <!--Header-->
              <div class="modal-header bg-dark white-text">
                  <h4 class="title"><i class="fa fa-plus-square" aria-hidden="true"></i> PEOPLE INVOLVE</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form name= "editForm.formData">
                  <input type="hidden" ng-model="showIdPeople" readonly>
                  <div class="md-form">
                  <input class="form-control" type=" text" title="People Involved Name" ng-model="addName" name="people_involved_name" ng-pattern="/^[a-zA-Z\s]+$/" ng-minlength="3" ng-maxlength="20" title='Name' placeholder=" Name" style="padding-left: 10px;" required>
                  <ul ng-show="(!editForm.formData.people_involved_name.$pristine && editForm.formData.people_involved_name.$error.pattern) || (!editForm.formData.people_involved_name.$pristine && editForm.formData.people_involved_name.$error.minlength) || (!editForm.formData.people_involved_name.$pristine && editForm.formData.people_involved_name.$error.maxlength)"
                  class="help-block" style="color: red; font-size: 11px; font-family: Courier New;">
                      <li class="decor">Must have a space in between first and last name</li>
                      <li class="decor">Must not contain any special characters</li>
                      <li class="decor">Must not contain any numbers</li>
                      <li class="decor">Must be at least 3 characters but no more than 20</li>
                  </ul>
                </div>
                  <div class="md-form">
                  <input class="form-control" type=" text" title="People Involved Age"ng-model="addAge" placeholder="Age" name="people_involved_age" ng-minlength="1" ng-maxlength="3" ng-pattern="/^(0?[1-9]|[1-9][0-9]|[1][1-9][1-9]|200)$/" ng-model="addAge" style="padding-left: 10px;">
                  <ul ng-show="(!editForm.formData.people_involved_age.$pristine && editForm.formData.people_involved_age.$error.pattern) || (!editForm.formData.people_involved_age.$pristine && editForm.formData.people_involved_age.$error.minlength) || (!editForm.formData.people_involved_age.$pristine && editForm.formData.people_involved_age.$error.maxlength)" class="help-block" style="color: red; font-size: 13px;">
                     <li class="decor">Must not contain special characters and letters</li>
                 </ul>
                </div>
                <div class="md-form">
                <input class="form-control" type=" text" title="People Involved Citizenship" name="people_involved_citizenship" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="addCitizenship" placeholder=" Citizenship" style="padding-left: 10px;">
                <ul ng-show="(!editForm.formData.people_involved_citizenship.$pristine && editForm.formData.people_involved_citizenship.$error.pattern) || (!editForm.formData.people_involved_citizenship.$pristine && editForm.formData.people_involved_citizenship.$error.minlength) || (!editVehicle.people_involved_citizenship.$pristine && editForm.formData.people_involved_citizenship.$error.maxlength)" class="help-block" style="color: red; font-size: 13px;">
                   <li class="decor">Must not contain special characters and numbers</li>
                 </ul>
               </div>
                <select class="browser-default form-control" title="People Involved Gender" ng-model="addGender">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <div ng-controller="dataManagementCtrl as dataManagement">
                 <select id="vioChoices" class="browser-default form-control" title="Violation Committed" placeholder="Select Violation" ng-model="addViolation">
                   <option value="" disabled selected>Select Violation</option>
                   <option ng-repeat="violation in dataManagement.violations" value="{{violation.violation_committed}}">{{violation.violation_committed}}</option>
                 </select>
               </div>
                  <select class="browser-default form-control" title="People Involved Status" ng-model="addStatus">
                    <option value="" disabled selected>Select Status</option>
                    <option value="Unharmed">Unharmed</option>
                    <option value="Injured">Injured</option>
                    <option value="Hospitalized">Hospitalized</option>
                    <option value="Dead">Dead</option>
                </select>
                <select class="browser-default form-control" title="People Involved Type" ng-model="addType">
                    <option value="" disabled selected>Select Type</option>
                    <option value="Suspect">Suspect</option>
                    <option value="Victim">Victim</option>
                </select>
                <button type="submit" class="btn btn-md btn-elegant btn-rounded" ng-disabled="editForm.formData.$invalid" ng-click="addPeople()">Save</button>
                </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="modalVehicle" ng-controller="addCtrl as editForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog cascading-modal " role="document">
   <!--Content-->
      <div class="modal-content">
          <!--Header-->
          <div class="modal-header bg-dark white-text">
              <h4 class="title"><i class="fa fa-plus-square" aria-hidden="true"></i> VEHICLE DETAILS</h4>
              <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form name= "editForm.formData">
              <input type="hidden" ng-model="showIdVehicle" readonly>
              <div ng-controller="dataManagementCtrl as dataManagement">
               <select id="choices" class="browser-default form-control" placeholder="Select Vehicle Type" title="Vehicle Type" ng-model="addVehicleType" required>
                  <option value="Unknown" disabled selected>Select Vehicle Type</option>
                 <option ng-repeat="vehicles in dataManagement.vehicles" value="{{vehicles.vehicle_type}}">{{vehicles.vehicle_type}}</option>
               </select>
             </div>
               <input class="form-control" title='Driver' type=" text" title="Vehicle Driver" ng-model="addDriver" placeholder=" Driver" style="padding-left: 10px;">
              <div class="md-form">
              <input class="form-control" type=" text" name="vehicle_platenumber" title="Vehicle Plate Number" ng-pattern="/^[A-Z 0-9]*$/" ng-minlength="7" ng-maxlength="8" ng-model="addPlateNumber" placeholder=" Plate Number" style="padding-left: 10px;">
              <ul ng-show="(!editForm.formData.vehicle_platenumber.$pristine && editForm.formData.vehicle_platenumber.$error.pattern) || (!editForm.formData.vehicle_platenumber.$pristine && editForm.formData.vehicle_platenumber.$error.minlength) || (!editForm.vehicle_platenumber.$pristine && editForm.formData.vehicle_platenumber.$error.maxlength)" class="help-block" style="color: red; font-size: 13px;">
                 <li class="decor">Only upper case letters and numbers</li>
                 <li class="decor">Must not contain special characters</li>
                 <li class="decor">Must be at least 7 characters but no more than 8</li>
               </ul>
              </div>
              <input class="form-control" title='Brand' type=" text" title="Vehicle Brand" ng-model="addBrand" placeholder=" Brand" style="padding-left: 10px;">
              <input class="form-control" title='Model' type=" text" title="Vehicle Model" ng-model="addModel" placeholder=" Model" style="padding-left: 10px;">
              <button type="submit" class="btn btn-md btn-rounded btn-elegant" ng-disabled="editForm.formData.$invalid" ng-click="addVehicle()" style="float: right;">Save</button>
              </form>
          </div>
      </div>
  </div>/
</div>
<br>
