<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRXGkNUJ7ibYPMtrqm3fEUilG9jh0vOhE"></script>
<style type="text/css">
  .searchCon{
    height: 10px;
    width:300px;
    float: left;
  }
  .left{
    float: left;
    width: 300px;
    margin-left: 25psx;
    clear: left;
  }
  .right{
    float: left;
    width: 300px;
    margin-left: 60px;
    clear: right;
  }
  #Credibility{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 400px;
  height: auto;
  margin: 0px 10px 10px 0px;
  font-family: Lato;
}
#accidentType{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 660px;
  height: 400px;
  margin: 0px 10px 10px 0px;
  overflow: auto;
  font-family: Lato;
}
#accidentCause{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 660px;
  height: 400px;
  margin: 0px 10px 10px 0px;
  overflow: auto;
  font-family: Lato;
}
#annual{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 660px;
  height: 400px;
  margin: 0px 10px 10px 0px;
  overflow: auto;
  font-family: Lato;
}
#Violation{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 400px;
  height: auto;
  margin: 0px 10px 10px 0px;
  font-family: Lato;
}
#Vehicle{
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  width: 400px;
  height: auto;
  margin: 0px 10px 10px 0px;
  font-family: Lato;
}
#con{
  float: left;
  clear: left;
}
#content{
  float: right;
  clear: right;
}

#accidentType td{text-align: left; padding-left: 40px;}
#accidentType th{text-align: left; }
#accidentCause td{text-align: left; padding-left: 40px;}
#accidentCause th{text-align: left; }
#Violation td{text-align: left; padding-left: 40px;}
#Violation th{text-align: left; }
#Vehicle td{text-align: left; padding-left: 40px;}
#Vehicle th{text-align: left; }

</style>
<div class="container-fluid">
  <div ng-repeat = "fraud in generate.fraud | filter:query as fraudResults"></div>
  <div ng-repeat = "factual in generate.factual | filter:query as factualResults"></div>

  <div id="con">
    <div id="Credibility">
      <center><h5><strong>Citizen Report Credibility</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr>
          <th><b>FRAUD</b></th>
          <th><b>FACTUAL</b></th>
        </tr>
      </thead>
        <tr>
          <td>{{fraudResults.length / (fraudResults.length+ factualResults.length) * 100 | number : 1}}%</td>
          <td>{{factualResults.length / (fraudResults.length+ factualResults.length) * 100 | number : 1}}%</td>
        </tr>
      </table>
    </div>


    <div id="Vehicle">
      <center><h5><strong>Common Vehicle Types Involved</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr>
          <th><b>VEHICLE TYPE</b></th>
          <th><b>NUMBER</b></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="vehicleType in generate.vehicleType | filter:{_id:'!!'}">
          <td>{{vehicleType._id}}</td>
          <td>{{vehicleType.count}}</td>
        </tr>
      </tbody>
      </table>
    </div>


    <div id="Violation">
      <center><h5><strong>Common Types of Violation</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr>
          <th><b>VIOLATION TYPE</b></th>
          <th><b>NUMBER</b></th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="violations in generate.violation | filter:{_id:'!!'}">
          <td>{{violations._id}}</td>
          <td>{{violations.count}}</td>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

<div id="content">
  <div id="accidentType">
   <center><h5><strong>Common Types of Accident</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr>
          <th><b>ACCIDENT TYPE</b></th>
          <th><b>NUMBER</b></th>
        </tr>
      </thead>
      <tbody ng-repeat="accidentType in generate.type ">
        <tr ng-repeat="type in accidentType.counts | filter:{accident_type:'!!'}">
          <td>{{type.accident_type}}</td>
          <td>{{type.number}}</td>
        </tr>
      </tbody>
      </table>
  </div>

  <div id="accidentCause">
    <center><h5><strong>Common Causes of Accident</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr >
          <th><b>ACCIDENT CAUSE</b></th>
          <th><b>NUMBER</b></th>
        </tr>
      </thead>
      <tbody ng-repeat="accidentCause in generate.cause">
        <tr ng-repeat="cause in accidentCause.counts | filter:{accident_cause:'!!'}">
          <td>{{cause.accident_cause}}</td>
          <td>{{cause.number}}</td>
        </tr>
      </tbody>
      </table>
  </div>

  <div id="annual">
    <center><h5><strong>Total Number of VTA Reports</strong></h5></center>
      <table class="table table-hover">
      <thead>
        <tr >
          <th><b>MUNICIPALITY</b></th>
          <th><b>NUMBER OF ACCIDENTS</b></th>
        </tr>
      </thead>
      <tbody ng-repeat="generates in generate.station">
        <tr ng-repeat="rep in generates.counts | filter:{address_municipality:'!!'}">
          <td>{{rep.address_municipality}}</td>
          <td>{{rep.number}}</td>
        </tr>
      </tbody>
      </table>
  </div>

</div>
  <!-- Table Management -->

</div>
