<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRXGkNUJ7ibYPMtrqm3fEUilG9jh0vOhE"></script>
<style>
#map{
  height: 660px;
  width: 749px;
  float: right;
  overflow: hidden;
  position: relative;
}
.containerForm{
  float: left;
  height: 660px;
  padding-left: 30px;
  padding-right: 30px;
  width: 385px;
  background-color:	#eff0f2;

  padding-top: 30px;
  position: absolute;
}
.tdtd{
  font-family: Lato ;
}
.thth{
  font-family: Josefin Slab;
}
</style>

<div class=" container-fluid text-center">
<div class="containerForm jumbotron" ng-controller="mainCtrl as main">
  <div align="center"><img src="assets/img/orvtia_logo.png" style="height: 220px; width: 300px;"class="img-fluid flex-center"></div>
  <h4 style="font-family: Courier New; font-size: 20px;">LOGIN</h4>

  <!--alert-->
  <div class= "jumbotron text-center" ng-show="main.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
  </div>
  <div class="md-form container text-center">
  <div class="show-hide-message"  ng-show="main.successMsg">
    <div class="alert alert-success tdtd" style=" font-family: Courier New; font-size: 13px; color: black; width: 291px; height: 50px;">{{ main.successMsg }}</div>
  </div>
  <div class="show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger tdtd" style=" font-family: Courier New; font-size: 13px; color: black; width:291Px; height: 50px;">{{ main.errorMsg }}</div>
  </div>
</div>
  <form class="form-signin" ng-submit="main.doLogin(loginData);">
      <div class="md-form">
          <input type="text" id="defaultForm-uname" class="form-control col-lg tdtd " name="police_username" ng-model="main.loginData.police_username">
          <label for="defaultForm-uname">Username</label>
      </div>
      <div class="md-form">
          <input type="password" class="form-control col-lg tdtd " name="police_password" ng-model="main.loginData.police_password">
          <label for="defaultForm-pass">Your password</label>
      </div>
      <div align="center">
          <button class="btn btn-sm btn-elegant px-3" type="submit"><i class="fa fa-home prefix"></i> Login</button>
        </div>
          <a href="/resetpassword">
            <label style="color: grey; font-size: 13px; font-family: Courier New;">Forgot Password</label>
          </a><br>
          <a href="/resetusername">
              <label style="color: grey; font-size: 13px; font-family: Courier New;">Forgot Username</label>
          </a>
      </div>
  </form>
</div>
</div>
<br>
<br>
  <div class="container-fluid text-center" >
    <button type="button" class="btn btn-blue-grey btn-md" data-toggle="modal" ng-show="addReport.addWalkInAccess" data-target="#modalAddReport">Add Walk-In Report  &nbsp;<i class="fa fa-plus-circle prefix fa-md"></i></button>
    <div class="modal fade" id="modalAddReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog cascading-modal" role="document">
         <!--Content-->
         <div class="modal-content">
             <!--Header-->
             <div class="modal-header grey darken-2 white-text">
                 <h5 class="title"><i class="fa fa-user-plus"></i> Add Walk-In Reports</h5>
                 <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
           <div class="modal-body">
             <form name ="addForm" ng-controller="addCtrl" novalidate>
                 <div class="md-form form-sm">
                   <label>Ready to Report?</label>
                   <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                   <input type="text" class="form-control" placeholder="Please click anywhere in the map before adding a report!" id="verified" ng-model="formData.htmlverified" readonly>
                 </div>
                 <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                 <div class="md-form form-sm">
                     <label for="informant">Informant</label>
                     <input type="text" class="form-control" id="informant" ng-model="formData.informant" required>
                 </div>
                 <div class="md-form form-sm">
                   <label for="statement">Statement</label>
                   <input type="text" class="form-control" id="statement" ng-model="formData.statement" required>
                 </div>
                 <div class="md-form form-sm">
                     <label for="accidentType">Accident Type</label>
                     <input type="text" class="form-control" id="accidentType" ng-model="formData.accidentType" required>
                 </div>
                   <div class="md-form form-sm">
                     <label for="vehicleType">Vehicle Type</label>
                     <input type="text" class="form-control" id="vehicleType" ng-model="formData.vehicleType" required>
                 </div>
                 <div class="md-form form-sm">
                     <label for="plateNum">Plate Number</label>
                     <input type="text" class="form-control" id="plateNum" ng-model="formData.plateNum" required>
                 </div>
                 <div class="md-form form-sm">
                     <label for="accidentCause">Cause of Accident</label>
                     <input type="text" class="form-control" id="accidentCause" ng-model="formData.accidentCause" required>
                 </div>
                 <div class="md-form form-sm">
                   <label for="address">Address</label>
                   <input type="text" class="form-control" id="address" ng-model="formData.address">
                   <button id="btn" class="btn btn-blue-grey btn-sm">Get Lat-Long</button>
                 </div>
                 <div class="md-form form-sm">
                     <label for="latitude">Latitude</label>
                     <input type="text" class="form-control" id="latitude" value="15.7961094" ng-model="formData.latitude" readonly>
                 </div>
                 <div class="md-form form-sm">
                     <label for="longitude">Longitude</label>
                     <input type="text" class="form-control" id="longitude" value="120.386395" ng-model="formData.longitude" readonly>
                 </div>
                 <div class="md-form">
                   <p>Time and Date of Accident:</p>
                   <input ng-model="formData.dateTimeOccured"  class="form-control" type="datetime-local" required>
                 </div>
                 <div class="md-form">
                    <label>Station:</label>
                    <input ng-model="formData.station" class="form-control" id="station" type="text" value="{{main.policestation}}" readonly>
                </div>
                <div class="md-form">
                   <label>Police On Duty:</label>
                   <input ng-model="formData.policereporter" class="form-control" id="policereporter" value="{{main.username}}" type="text" readonly>
                <div class="md-form">
                 <div class="md-form form-sm">
                   <span><button ng-click="refreshLoc()" class="btn btn-elegant btn-md"><span class="fa fa-refresh"></span></button></span>
                 </div>
                 <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                 <button type="submit" class="btn btn-elegant btn-sm" ng-click="createReport()" ng-disabled="addForm.$invalid">Submit</button>
             </form>
          </div>
             <!--Footer-->
             <div class="modal-footer">
                 <button type="button" class="btn btn-mdb btn-sm btn-grey waves-effect ml-auto" data-dismiss="modal"><i class="fa fa-close"></i>  &nbsp;Close</button>
             </div>
         </div>
         <!--/.Content-->
     </div>
  </div>
  </div>
