<link rel="stylesheet" href="assets/css/compiled.min.css" type="text/css" >
<link rel="stylesheet" href="assets/css/style2.css" type="text/css" >
<script src="assets/js/bootstrap-confirmation.min.js"></script>
<style type="text/css">
  .searchCon{
    height: 10px;
    width:300px;
    float: left;
  }
  .violationData{
    width:300px;
    float: right;
  }
  .vehicleData{
    width:300px;
    float: right;
  }
  .stationData{
    width:300px;
    float: right;
  }
  .tdtd{
    font-family: Lato ;
  }
  .thth{
    font-family: Josefin Slab;
  }
  .vio{
    height:220px;
    overflow: auto;
  }
  .table-fixed {
      table-layout: fixed;
      overflow: auto;
  }
</style>

<br><br>
<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <center><h2 style="font-family: Courier New;"><strong>MASTER TABLE MANAGEMENT</strong></h2></center><br>
    </div>
  </div>

       <div class="md-form form-sm">
          <!--Search-->
          <div class="searchCon">
            <i class="fa fa-search prefix"></i>
            <input type="text" ng-model="searchKeyword" id="formSearch" class="form-control">
            <label for="formSearch">SEARCH</label>
          </div>
           <button class="btn btn-info mb-1 btn-red  btn-rounded btn-sm px-2" ng-click="dataManagement.search(searchKeyword, number);" title='Search Police Reports'>COUNT <i class="fa fa-check ml-1"></i></button>
          <button class="btn btn-info mb-1 btn-grey  btn-rounded btn-sm px-2" ng-click="dataManagement.clear();" title='Clear'>Clear <i class="fa fa-check ml-1"></i></button>
          <a href="/addReport">
         <button type="button" ng-show="dataManagement.createReportBtn" title='Add Walk In Rport' class="btn btn-elegant btn-sm px-2"  style="float: right;">CREATE REPORT </i></button></a>
        </div>

        <div class= "jumbotron text-center" ng-show="main.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading....</p>
      </div>
      <hr>
      <div class="show-hide-message center-block" ng-show="dataManagement.showMoreError">
        <div class="alert alert-danger center-block">{{ dataManagement.showMoreError}}</div>
      </div>
  <!--alert-->
</div>
<section>
  <!-- Nav tabs -->
  <div class="row">
      <div class="col-md-3">
          <ul class="nav md-pills pills-grey flex-column" role="tablist">
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel21" role="tab" style="font-family:Courier New;"> ADD VIOLATION
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel22" role="tab"  style="font-family:Courier New;">ADD VEHICLE
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel23" role="tab"  style="font-family:Courier New;">ADD STATION
                  </a>
              </li>
          </ul>
      </div>
      <div class="col-md-9">
          <!-- Tab panels -->
        <div class="tab-content vertical">
          <!--Panel 1-->
          <div class="tab-pane fade" id="panel21" role="tabpanel">

          <div class="violationData">
            <div class="show-hide-message center-block" style="width: 280px;"ng-show="dataManagement.successMsg">
              <div class="alert alert-success center-block">{{dataManagement.successMsg}}</div>
            </div>
            <div class="show-hide-message center-block" ng-show="dataManagement.errorsMsg">
              <div class="alert alert-danger">{{ dataManagement.errorMsg }}</div>
            </div>
          <form name="dataForm" ng-submit="dataManagement.violationsReg(violationData, dataForm.$valid);" novalidate>
            <input textclass="form-control col-lg tdtd "  name="violation_committed" ng-model="dataManagement.violationData.violation_committed">
            <button type="submit" data-toggle="tooltip" title='Hooray!'class="btn btn-elegant btn-sm  btn-rounded">SAVE</button>
          </form>
          </div><br>
          <div class="vio container-fluid">
              <div class="md-form" ng-show="searchFilter !== undefined">
                <p><strong>Total results: </strong>{{ (dataManagement.violations | filter: searchKeyword).length  }} &nbsp; &nbsp;<strong>Showing: </strong>{{ (dataManagement.violations | filter: searchFilter | limitTo: dataManagement.limit).length  }}</p>
              </div>
            <!-- Table dataManagement -->
              <table class="table table-hover table-bordered table-responsive-sm">
              <thead class="yellow lighten-5">
                  <tr><strong>
                      <th class="thth"><strong>VIOLATION</strong></th>
                <th class="thth"><strong>Action</strong></th>
                  </tr>
              </thead>
                  <tr ng-repeat = "addedViolation in dataManagement.violations | filter: searchKeyword | filter: searchFilter" >
                      <td class="tdtd" style="color: black;"><b>{{addedViolation.violation_committed}}</b></td>
                      <td>
                      <a href="/editViolation/{{ addedViolation._id }}">
                        <i title='Update Violationas' class="fa fa-edit fa-2x" aria-hidden="true"></i><br>
                      </a>
                      <a href="#">
                        <i  ng-click="dataManagement.deleteViolation(addedViolation.violation_committed);" title='Delete Violation' class="fa fa-trash fa-2x" aria-hidden="true"></i>
                      </a>
                      </td>
                  </tr>
              </table>
            </div>
          </div>
          <!--/.Panel 1-->
          <!--Panel 2-->
          <div class="tab-pane fade" id="panel22" role="tabpanel">
          <div class="vehicleData">
            <div class="show-hide-message center-block" style="width: 280px;"ng-show="dataManagement.successMsg">
              <div class="alert alert-success center-block">{{dataManagement.successMsg}}</div>
            </div>
            <div class="show-hide-message center-block" ng-show="dataManagement.errorsMsg">
              <div class="alert alert-danger">{{ dataManagement.errorMsg }}</div>
            </div>
            <form name="dataForm" ng-submit="dataManagement.vehicleReg(vehicleData, dataForm.$valid);" novalidate>
              <input textclass="form-control col-lg tdtd "  name="vehicle_type" ng-model="dataManagement.vehicleData.vehicle_type">
              <button type="submit" data-toggle="tooltip" title='ADD NEW VEHICLE TYPE'class="btn btn-elegant btn-sm  btn-rounded">SAVE</button>
            </form>
          </div><br>
            <div class="vio container-fluid">
              <div class="md-form" ng-show="searchFilter !== undefined">
                <p><strong>Total results: </strong>{{ (dataManagement.vehicles | filter: searchKeyword).length  }} &nbsp; &nbsp;<strong>Showing: </strong>{{ (dataManagement.vehicles | filter: searchFilter | limitTo: dataManagement.limit).length  }}</p>
              </div>
            <!-- Table dataManagement -->
              <table class="table table-hover table-bordered table-responsive-sm">
              <thead class="yellow lighten-5">
                  <tr><strong>
                      <th class="thth"><strong>VEHICLE</strong></th>
                <th class="thth"><strong>Action</strong></th>
                  </tr>
              </thead>
                  <tr ng-repeat = "addedVehicle in dataManagement.vehicles | filter: searchKeyword" >
                      <td class="tdtd" style="color: black;"><b>{{addedVehicle.vehicle_type}}</b></td>
                      <td>
                      <a href="/editVehicleType/{{ addedVehicle._id }}">
                          <i title='Update Vehicle' class="fa fa-edit fa-2x" aria-hidden="true"></i><br>
                      </a>
                      <a href="#">
                        <i title='Delete Vehicle' ng-click="dataManagement.deleteVehicle(addedVehicle.vehicle_type);" class="fa fa-trash fa-2x" aria-hidden="true"></i>
                      </a>
                      </td>
                  </tr>
              </table>
            </div>
          </div>
          <!--/.Panel 2-->
          <!--Panel 3-->
          <div class="tab-pane fade" id="panel23" role="tabpanel">
          <div class="stationData">
            <div class="show-hide-message center-block" style="width: 280px;"ng-show="dataManagement.successMsg">
              <div class="alert alert-success center-block">{{dataManagement.successMsg}}</div>
            </div>
            <div class="show-hide-message center-block" ng-show="dataManagement.errorsMsg">
              <div class="alert alert-danger">{{ dataManagement.errorMsg }}</div>
            </div>
            <form name="dataForm" ng-submit="dataManagement.stationReg(stationData, dataForm.$valid);" novalidate>
              <input textclass="form-control col-lg tdtd "  name="station_municipality" ng-model="dataManagement.stationData.station_municipality">
              <button type="submit" data-toggle="tooltip" title='Add Station Municipality'class="btn btn-elegant btn-rounded btn-sm">SAVE</button>
            </form>
          </div><br>
            <div class="vio container-fluid">
              <div class="md-form" ng-show="searchFilter !== undefined">
                <p><strong>Total results: </strong>{{ (dataManagement.stations | filter: searchKeyword).length  }} &nbsp; &nbsp;<strong>Showing: </strong>{{ (dataManagement.station | filter: searchFilter | limitTo: dataManagement.limit).length  }}</p>
              </div>
            <!-- Table dataManagement -->
              <table class="table table-hover table-bordered table-responsive-sm">
              <thead class="yellow lighten-5">
                  <tr><strong>
                      <th class="thth"><strong>STATION MUNICIPALITY</strong></th>
                <th class="thth"><strong>Action</strong></th>
                  </tr>
              </thead>
                  <tr ng-repeat = "addedStation in dataManagement.stations | filter: searchKeyword | filter: searchFilter" >
                      <td class="tdtd" style="color: black;"><b>{{addedStation.station_municipality}}</b></td>
                      <td>
                      <a href="/editStation/{{ addedStation._id }}">
                        <i title='Update Station' class="fa fa-edit fa-2x" aria-hidden="true"></i>
                      </a>
                      </td>
                  </tr>
              </table>
            </div>
          </div><br><br>
          <!--! Panel 3-->
        </div>
      </div>
  </div>
  <!-- Nav tabs -->
</section>
