<link rel="stylesheet" href="assets/css/compiled.min.css" type="text/css" >
<link rel="stylesheet" href="assets/css/style2.css" type="text/css" >
<style>

.tdtd{
  font-family: Lato ;
}
.thth{
  font-family: Josefin Slab;
}
.thth{
  font-family: Josefin Slab;
}
.decor{
  list-style: none;
}
</style>


<div class="container-fluid">
  <div align="center">
	<a href="/management" style="float: right; padding-left: 70%; color: grey;" class="thth"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to User Management</a><br>
  <h3><strong><b>EDIT POLICE USERS</b></strong></h3><hr style="height:40px; color: red;">
	<div align="center">
	  <div class="show-hide-message" ng-show="edit.successMsg">
	   <div class="alert alert-success center-block">{{edit.successMsg}}</div>
	  </div>
	  <div class="show-hide-message" ng-show="edit.errorMsg">
	      <div class="alert alert-danger center-block">{{ edit.errorMsg }}</div>
	  </div>
	</div>
<form name="edit.formData" ng-submit="edit.updatePolice(editName,edit.formData.police_name.$valid, editEmail,edit.formData.police_email.$valid, editUsername,edit.formData.police_username.$valid, editContact, edit.formData.police_contact.$valid,editAddress,edit.formData.police_address.$valid,editStation,edit.formData.police_station.$valid,editPermission, edit.formData.police_permission.$valid)" >
<input type="hidden" class="form-control col-7 tdtd" type=" text" ng-model="showId" style="padding-left: 15px;">
	<div class="md-form">
    <div ng-class="{ 'has-success':(edit.formData.police_name.$valid && !edit.formData.police_name.$pristine), 'has-error':(!edit.formData.police_name.$valid && !edit.formData.police_name.$pristine) || (!edit.formData.police_name.$valid && edit.formData.$submitted) }">
    	<input class="form-control col-7 tdtd tdtd" name="police_name" title='Please Enter Police Name' type=" text" ng-model="editName" placeholder="Name" style="padding-left: 15px;" ng-pattern="/^[a-zA-Z\s]+$/" ng-minlength="3" ng-maxlength="20">
     <p class="help-block" ng-show="(!edit.formData.police_name.$pristine && edit.formData.police_name.$error.required) || (edit.formData.$submitted && edit.formData.police_name.$error.required)" style="color: red; font-size: 11px; font-family: Courier New;">This field is required</p>
     <ul ng-show="(!edit.formData.police_name.$pristine && edit.formData.police_name.$error.pattern) || (!edit.formData.police_name.$pristine && edit.formData.police_name.$error.minlength) || (!edit.formData.police_name.$pristine && edit.formData.police_name.$error.maxlength)"
     class="help-block" style="color: red; font-size: 11px; font-family: Courier New;">
         <li class="decor">Must have a space in between first and last name</li>
         <li class="decor">Must not contain any special characters</li>
         <li class="decor">Must not contain any numbers</li>
         <li class="decor">Must be at least 3 characters but no more than 20</li>
     </ul>
    </div>
  </div>
  <div class="md-form">
    <div ng-class="{ 'has-success':(edit.formData.police_email.$valid && !edit.formData.police_email.$pristine && !edit.emailInvalid), 'has-error':(!edit.formData.police_email.$valid && !edit.formData.police_email.$pristine) || (!edit.formData.police_email.$valid && edit.formData.$submitted) || edit.emailInvalid }">
      <input class="form-control col-7 tdtd" name="police_email" title='Please Enter Valid Email' type=" text" ng-model="editEmail" placeholder="Email" ng-minlength="3" ng-maxlength="40" ng-pattern="/^(\w+)([\-+.\'0-9A-Za-z_]+)*@(\w[\-\w]*\.){1,5}([A-Za-z]){2,6}$/" style="padding-left: 15px;">
      <p class="help-block" ng-show="(!edit.formData.police_email.$pristine && edit.formData.police_email.$error.required) || (edit.formData.$submitted && edit.formData.police_email.$error.required)" style="color: red; font-size: 11px; font-family: Courier New;">This field is required</p>
      <span ng-show="register.checkingEmail && edit.formData.police_email.$valid" class="glyphicon glyphicon-repeat"></span>
      <p class="help-block" ng-show="register.emailMsg && !edit.formData.police_email.$error.required && edit.formData.police_email.$valid" style="color: green; font-size: 11px; font-family: Courier New;">{{ edit.emailMsg }}</p>
      <ul ng-show="(!edit.formData.police_email.$pristine && edit.formData.police_email.$error.pattern) || (!edit.formData.police_email.$pristine && edit.formData.police_email.$error.minlength) || (!edit.formData.police_email.$pristine && edit.formData.police_email.$error.maxlength)" class="help-block" style="color: red; font-size: 11px; font-family: Courier New;">
          <li class="decor">Must contain "@"</li>
          <li class="decor">Must not contain any special characters</li>
          <li class="decor">Must be at least 3 characters but no more than 25</li>
      </ul>
  </div>
  </div>
  <div class="md-form">
     <div ng-class="{ 'has-success':(edit.formData.police_username.$valid && !edit.formData.police_username.$pristine && !edit.usernameInvalid), 'has-error':(!edit.formData.police_username.$valid && !edit.formData.police_username.$pristine) || (!edit.formData.police_username.$valid && edit.formData.$submitted) || register.usernameInvalid }">
      <input class="form-control col-7 tdtd" title='Please Enter Police Username' type=" text" ng-model="editUsername" name="police_username" placeholder="Username" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z0-9]+([a-zA-Z0-9](_|-| )[a-zA-Z0-9])*[a-zA-Z0-9]+$/" style="padding-left: 15px;">
      <p class="help-block" ng-show="(!edit.formData.police_username.$pristine && edit.formData.police_username.$error.required) || (edit.formData.$submitted && edit.formData.police_username.$error.required)" style="color: red; font-size: 11px; font-family: Courier New;">This field is required</p>
      <span ng-show="register.checkingUsername && edit.formData.police_username.$valid" class="glyphicon glyphicon-repeat"></span>
      <p class="help-block" ng-show="register.usernameMsg && !edit.formData.police_username.$error.required && edit.formData.police_username.$valid" style="color: green; font-size: 11px; font-family: Courier New;">{{ edit.usernameMsg }}</p>
      <ul ng-show="(!edit.formData.police_username.$pristine && edit.formData.police_username.$error.pattern) || (!edit.formData.police_username.$pristine && edit.formData.police_username.$error.minlength) || (!edit.formData.police_username.$pristine && edit.formData.police_username.$error.maxlength)" class="help-block" style="color: red; font-size: 11px; font-family: Courier New;">
          <li class="decor">Usernames can consist of lowercase and capitals</li>
          <li class="decor">Usernames can consist of alphanumeric characters</li>
          <li class="decor">Usernames can consist of underscore and hyphens and spaces</li>
          <li class="decor">Cannot be two underscores, two hypens or two spaces in a row</li>
          <li class="decor">Cannot have a underscore, hypen or space at the start or end</li>
          <li class="decor">Must be at least 3 characters but no more than 25</li>
      </ul>
     </div>
  </div>
  <div class="md-form">
    <div ng-class="{ 'has-success':(edit.formData.police_contact.$valid && !edit.formData.police_contact.$pristine), 'has-error':(!edit.formData.police_contact.$valid && !edit.formData.police_contact.$pristine) || (!edit.formData.police_contact.$valid && edit.formData.$submitted) }">
      	<input class="form-control col-7 tdtd" name="police_contact" ng-pattern="/^(09)\d{9}$/" title='Please Enter Police Contact Number' type=" text" ng-model="editContact" placeholder="Contact" style="padding-left: 15px;">
        <p class="help-block" ng-show="(!edit.formData.police_contact.$pristine && edit.formData.police_contact.$error.required) || (edit.formData.$submitted && edit.formData.police_contact.$error.required)" style="color: red; font-size: 11px; font-family: Courier New;">This field is required</p>
        <ul ng-show="(!edit.formData.police_contact.$pristine && edit.formData.police_contact.$error.pattern) || (!edit.formData.police_contact.$pristine && edit.formData.police_contact.$error.minlength) || (!edit.formData.police_contact.$pristine && edit.formData.police_contact.$error.maxlength)" class="help-block" style="color: red; font-size: 11px; font-family: Courier New;">
            <li class="decor">Must be a valid ph number</li>
            <li class="decor">Must not contain any special characters or spaces</li>
            <li class="decor">Must be 11 numbers (09xxxxxxxxx)</li>
        </ul>
    </div>
  </div>
  <div class="md-form">
    <input class="form-control col-7 tdtd" title='Please Enter Police Address' type=" text" ng-model="editAddress" placeholder="Address" style="padding-left: 15px;">
  </div>
	<select name="police_gender" ng-model="editGender" class="browser-default form-control col-7 tdtd"  style="padding-left: 15px;">
		<option value="" disabled selected>Gender</option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	</select>
  <select type=" text" ng-model="editStation" placeholder="Station" style="padding-left: 15px;" class="browser-default form-control col-7 tdtd">
    <option value="" disabled selected>Police Station</option>
    <option value="Agno">Agno</option>
    <option value="Aguilar">Aguilar</option>
		<option value="Alaminos">Alaminos City</option>
    <option value="Alcala">Alcala</option>
    <option value="Anda">Anda</option>
    <option value="Asingan">Asingan</option>
    <option value="Balungao">Balungao</option>
    <option value="Bani">Bani</option>
    <option value="Basista">Basista</option>
    <option value="Bautista">Bautista</option>
    <option value="Bayambang">Bayambang</option>
    <option value="Binalonan">Binalonan</option>
    <option value="Binmaley">Binmaley</option>
    <option value="Bolinao">Bolinao</option>
    <option value="Bugallon">Bugallon</option>
    <option value="Burgos">Burgos</option>
    <option value="Calasiao">Calasiao</option>
		<option value="Dagupan">Dagupan</option>
    <option value="Dasol">Dasol</option>
    <option value="Infanta">Infanta</option>
    <option value="Labrador">Labrador</option>
    <option value="Laoac">Laoac</option>
    <option value="Lingayen">Lingayen</option>
    <option value="Mabini">Mabini</option>
    <option value="Malasiqui">Malasiqui</option>
    <option value="Manaoag">Manaoag</option>
    <option value="Mangaldan">Mangaldan</option>
    <option value="Mangatarem">Mangatarem</option>
    <option value="Mapandan">Mapandan</option>
    <option value="Natividad">Natividad</option>
    <option value="Pozorrubio">Pozorrubio</option>
    <option value="Rosales">Rosales</option>
		<option value="San Carlos">San Carlos City</option>
    <option value="San Fabian">San Fabian</option>
    <option value="San Jacinto">San Jacinto</option>
    <option value="San Manuel" >San Manuel</option>
    <option value="San Nicolas">San Nicolas</option>
    <option value="San Quintin">San Quintin</option>
    <option value="Santa Barbara">Santa Barbara</option>
    <option value="Santa Maria">Santa Maria</option>
    <option value="Santo Tomas">Santo Tomas</option>
    <option value="Sison">Sison</option>
    <option value="Sual">Sual</option>
    <option value="Tayug">Tayug</option>
    <option value="Umingan">Umingan</option>
    <option value="Urbiztondo">Urbiztondo</option>
		<option value="Urdaneta">Urdaneta City</option>
    <option value="Villasis">Villasis</option>
 </select>
 <select type=" text" ng-model="editPermission" placeholder="Permission" style="padding-left: 15px;" class="browser-default form-control col-7 tdtd">
   <option value="" disabled selected>Police User Type</option>
   <option value="user">Android User</option>
   <option value="station">Station Admin</option>
   <option value="main">Main Admin</option>
</select>
	<button class="btn btn-elegant btn-md px-2" type="submit">Save Changes</button>
</form>

</div>
</div>
</div>
